<div class="container-fluid mt-3">
  <p>Modulo de Administración</p>
  <div class="d-flex justify-content-between py-3">
      
      <div class="h4">Administración de Departamentos 
          

      </div>

      <div><a href="departamentos" class="btn btn-primary">Volver</a></div>
      
  </div>

  <div class="row">
      <div class="card border-0 shadow-lg">
          <div class="card-body">
            <form class="row g-3" method="post" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <div class="col-md-6">
                  <label for="validationServer01" class="form-label">Codigo</label>
                  <input type="text" class="form-control" formControlName="codigo" id="validationServer01" required>

                </div>
                <div class="col-md-6">
                  <label for="validationServer02" class="form-label">Nombre</label>
                  <input type="text" class="form-control" formControlName="nombre" id="validationServer02" required>
                </div>
                <div class="col-md-6">
                  <label for="validationServer03" class="form-label">Activo</label>
                  <select class="form-select" formControlName="activo" id="validationServer04" required>
                    <option value="true">SI</option>
                    <option value="false">NO</option>
                  </select>
                  
                </div>

                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
              </form>
        </div>
    </div>
</div>
</div>